/* lOGIN */

body {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width: 10px;
}

body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Login */

.containerLogin {
    background-color: #f1463d;
    border-radius: 10px;
    box-shadow: 0px 0px 16px #00000098;
    height: 640px;
    margin-top: 60px;
    position: relative;
    top: 35%;
    left: 35%;
    width: 500px;
}

.sectionTitle {
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

.cardsTypeUser {
    display: flex;
    justify-content: center;
}

.cardUser {
    background-color: #ffffff;
    cursor: pointer;
    margin: 0px 20px;
    padding: 40px;
    text-align: center;
    transition: 0.6s ease-in;
}

.cardUser:hover {
    background-color: #000000;
    color: #ffffff;
}

.cardUser:active {
    position: relative;
    top: 3px;
}

.cardUser img {
    width: 100px;
}

.sectionInputs {
    padding: 40px 46px;
}

.inputsLogin {
    border: none;
    border-radius: 2px;
    height: 40px;
    margin-top: 20px;
    width: 400px;
}

.inputsLogin::placeholder {
    color: #7c7c7c;
    padding: 20px;
}

.btnLogin {
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    box-shadow: 4px 4px 1px #000000;
    color: #ea0f0f;
    cursor: not-allowed;
    font-size: 1rem;
    font-weight: bold;
    position: relative;
    left: 300px;
    padding: 14px 40px;
}

.btnLogin:active {
    box-shadow: 0px 0px 0px #000000;
    top: 4px;
}

.textInfo {
    color: #ffffff;
    padding-top: 18px;
    font-size: 0.800rem;
    text-align: center;
}

#alertEmail {
    color: #fff;
    border-radius: .3ch;
    box-shadow: 5px 5px 10px #00000075;
    background: #333;
    display: none;
    font-family: Helvetica, sans-serif;
    right: 120px;
    white-space: nowrap;
    overflow: hidden;
    padding: 20px;
    position: absolute;
    text-overflow: ellipsis;
    text-align: center;
    top: 100px;
    z-index: 1000;
    animation: showAlertemail 0.6s ease-in;
}

@keyframes showAlertemail {
    0% {
        transform: translateY(-600px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* Menu */

.user {
    color: #ffffff;
    font-weight: bold;
    font-size: 0.900rem;
    position: relative;
    left: 50px;
    bottom: 0px;
    text-align: center;
    width: 200px;
}

.lineUser {
    background-color: #ffffff;
    height: 1px;
    width: 200px;
}

.logo {
    width: 200px;
    margin: 40px 50px;
}

.btnMenu , .btnCloseMenu{
    display: none;
}

nav {
    background-color: #ea0f0f;
    height: 100vh;
    width: 300px;
}

li {
    display: block;
    color: #ffffff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    position: relative;
    padding: 12px 0px;
    width: 200px;
    transition: all 0.6s ease-in;
}

.listOption:hover {
    color: #000000;
}

.listOption {
    color: #ffffff;
    text-decoration: none;
}

.children {
    display: none;
    list-style: none;
}

.children li a {
    display: block;
    color: #ffffff;
    overflow: hidden;
    font-size: 1rem;
    font-weight: bold;
    padding: 20px -80px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    width: 200px;
}

.children li a:hover {
    color: #000000;
}

li:hover .children {
    display: block;
}

.btnCloseSesion {
    background-color: #f1f2f3;
    border-radius: 1px;
    border: none;
    color: #ea0f0f;
    cursor: pointer;
    font-size: 1.2rem;
    height: 40px;
    margin: 40px;
    width: 180px;
    transition: all 1s;
}

.btnCloseSesion:hover {
    background-color: #000000;
    border-radius: 10px;
    color: #ffffff;
}


/* cambiar contraseña modal */

.closeModalPass {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    position: relative;
    top: 90px;
    left: 460px;
}

.containerchangepassword {
    display: none;
    position: absolute;
    left: 40%;
    top: 12%;
    width: 500px;
    z-index: 1;
}

.containerchangepassword form {
    background: #333333;
    box-shadow: 1px 1px 20px #00000091;
    color: #ffffff;
    height: 450px;
}

.containerchangepassword form label {
    position: relative;
    top: 30px;
    left: 50px;
}

.inputpass {
    border-radius: 8px;
    border: none;
    margin: 40px;
    padding: 10px;
    width: 400px;
}

.sectioninputs {
    margin-top: 60px;
}

.changepass {
    text-align: center;
}

#btnchangepass {
    background-color: #ea0f0f;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    height: 40px;
    width: 200px;
}

.containerchangepassword form label,
.containerchangepassword .inputpass {
    display: block;
}

.containerinfo {
    font-size: 0.800rem;
    margin: -30px 40px;
}

.containermatch {
    font-size: 0.800rem;
    margin: 20px 40px;
}

/* cambiar contraseña modal admin */

.btnChangePassword{
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    color: #fb0000;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    right: 80px;
    bottom: 80px;
    padding: 10px 30px;
}

.closeModalPass {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    position: relative;
    top: 90px;
    left: 460px;
}

.containerchangepasswordAdmin {
    display: none;
    position: absolute;
    left: 30%;
    top: 4%;
    width: 500px;
    z-index: 1;
}

.containerchangepasswordAdmin form {
    background: #333333;
    box-shadow: 1px 1px 20px #00000091;
    color: #ffffff;
    height: 600px;
}

.containerchangepasswordAdmin form label {
    position: relative;
    top: 20px;
    left: 50px;
}

.inputpass {
    border-radius: 8px;
    border: none;
    margin: 40px;
    padding: 10px;
    width: 400px;
}

.sectioninputs {
    margin-top: 60px;
}

.changepass {
    text-align: center;
}

#btnchangepass {
    background-color: #ea0f0f;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    height: 40px;
    width: 200px;
}

.containerchangepassword form label,
.containerchangepassword .inputpass {
    display: block;
}

.containerinfo {
    font-size: 0.800rem;
    margin: -30px 40px;
}

.containermatch {
    font-size: 0.800rem;
    margin: 20px 40px;
}



/* secciones de informacion */

.sectionInformacion {
    position: absolute;
    left: 400px;
    top: 20px;
}

.sectionHome {
    position: absolute;
    left: 200px;
    top: 20px;
}

/* Pagina de inicio */

.titleSystem {
    color: #ea0f0f;
    margin: 40px 200px;
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 800px;
}

.infoHome {
    box-shadow: 10px 15px 20px #00000091;
    background-color: #333;
    border-radius: 10px;
    color: #ffffff;
    font-size: 1.6rem;
    padding: 40px;
    width: 600px;
    height: 350px;
}

.correo a {
    color: #ea0f0f;
    text-decoration: none;
}

.home {
    margin: 60px 250px;
}

.home img {
    position: absolute;
    top: 340px;
    left: 850px;
    width: 400px;
}

/* Certificacion Laboral */

.message{
    background-color: #ea0f0f;
    box-shadow: 10px 10px 5px #0000008c;
    border-radius: 10px;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    height: 260px;
    padding: 40px ;
    position: absolute;
    left: 100px;
    top: 100px;
    width: 600px;
    animation: tiendaNew 3s ease infinite;
}

.btnclosemodal{
    background-color: #ffffff;
    border: none;
    border: solid 3px #ffffff;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 16px;
    width: 200px;
    text-transform: capitalize;
}

.btnclosemodal:hover{
    background-color: transparent;
    color:#ffffff;
}

@keyframes tiendaNew{
	0% {transform:translate(0,0) }
	4.41177% { transform:translate(5px,0) }
	8.82353% { transform:translate(0,0) }
	13.23529% { transform:translate(5px,0) }
	17.64706% { transform:translate(0,0) }
	22.05882% { transform:translate(5px,0) }
	26.47059% { transform:translate(0,0) }
	100% { transform:translate(0,0) }
}

.btnGetPdf {
    cursor: pointer;
    position: fixed;
    right: 40px;
    top: 60px;
    width: 60px;
}

.marcaAgua {
    position: absolute;
    left: 250px;
    top: 200px;
    width: 400px;
}

.containerDoc {
    box-shadow: 0px 0px 10px #000000;
    margin: 0px 40px;
    padding: 80px 20px 0px 20px;
    width: 80%;
    height: 680px;
    /* overflow: scroll; */
}

.imageHeader {
    display: flex;
    justify-content: space-around;
}

.imageHeader img {
    width: 140px;
}

.imageHeader .imgCalidad {
    margin-top: 40px;
    width: 70px;
    height: 50px;
}

.textHeader {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.textHeader p {
    font-size: 0.650rem;
}

.titleoDoc {
    font-size: 0.950rem;
    margin: 40px 0px;
    text-align: center;
}

.paragraph,
.firm {
    font-size: 0.800rem;
    margin: 14px 100px;
    text-align: justify;
}

.paragraphgreeting {
    margin: 60px 100px 0px 100px;
    text-align: justify;
}

.firm img {
    width: 150px;
}


/* Reporte Nomina */

.containerDoc2 {
    box-shadow: 0px 0px 10px #000000;
    margin: 0px 80px;
    padding: 10px 20px 0px 20px;
    width: 78%;
    height: 750px;
}

.formSelectFormatNomina{
    position: absolute;
    top: 40px;
    right: 40px;
    top: 300px;
}

.formSelectFormatNomina select{
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    color: #444;
    cursor: pointer;
    line-height: 1.3;
    padding: .4em 1.4em .3em .8em;
    width: 200px;
    max-width: 100%;
    box-sizing: border-box;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .03);
    border-radius: .3em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
}

.formSelectFormatNomina input{
    background-color: #0097fb;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    padding: 6px 20px;
}

.headerPayroll {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 120px;
}

.headerPayroll img {
    width: 120px;
}

.headerPayroll p {
    font-size: 0.600rem;
    font-weight: bold;
    padding-top: 20px;
    text-align: center;
}

.headerPayroll p:nth-child(3) {
    border-radius: 6px;
    padding: 20px 60px 20px 60px;
    border: solid 2px#000000;
}

.dataInfo {
    background-color: #ec3838;
    border: solid 2px#000000;
    border-radius: 6px;
    font-size: 0.950rem;
    padding: 2px;
    text-transform: capitalize;
}

.sectionInfoEmployed {
    border-radius: 6px;
    border: solid 2px #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 20px;
    font-size: 0.600rem;
}

.sectionInfoEmployed span {
    font-size: 0.700rem;
    font-weight: bold;
    text-transform: capitalize;
}

.tablePayroll {
    border-collapse: collapse;
    border: 2px solid #000000;
    border-radius: 10px;
    font-size: 0.600rem;
    margin-top: 4px;
    width: 100%;
}

.headerTable th {
    border: solid 1px #000000;
    background-color: #ec3838;
    font-weight: bold;
    font-size: 0.600rem;
    padding: 5px;
}

.bodyTable td {
    border: solid 1px #000000;
    font-weight: bold;
    font-size: 0.550rem;
    padding: 5px;
}

.bodyTable tr:nth-child(odd) {
    background-color: #e8e8e8;
}

.bodyTable tr:nth-child(even) {
    background-color: #ffffff;
}

.footerPayroll {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 160px;
}

.textMoney {
    font-weight: bold;
    border: solid 1px #000000;
    border-radius: 10px;
    height: 50px;
    padding: 0px 80px 0px 10px;
    position: relative;
    top: 24px;
}

.textMoney p {
    font-size: 0.600rem;
    font-weight: bold;
}

.paragraphPayroll {
    font-size: 0.400rem;
    font-weight: bold;
}

.tableTotal {
    border-collapse: collapse;
    border: 2px solid #000000;
    border-radius: 10px;
    font-size: 0.500rem;
    margin-top: 4px;
    width: 35%;
}

.tableTotal th {
    border: solid 1px #000000;
    background-color: #ec3838;
    font-weight: bold;
    font-size: 0.600rem;
    padding: 5px;
}

.tableTotal td {
    border: solid 1px #000000;
    background-color: #ec7171;
    font-weight: bold;
    font-size: 0.600rem;
    padding: 5px;
    text-align: right;
}

.sectionFirm {
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 15px;
    position: relative;
    top: 150px;
}

.sectionFirm p {
    border-radius: 10px;
    border: solid 1px #000000;
    padding: 40px 10px 0px 10px;
}


/* Certificado retencion */

#alertDocument p {
    background-color: #ea0f0f;
    box-shadow: 16px 16px 0px #323131e3;
    color: #ffffff;
    font-size: 1.6rem;
    padding: 40px;
    left: 200px;
    position: absolute;
    text-align: center;
    top: 200px;
    width: 600px;
}

.sectionyear{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.selectYear{
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    color: #444;
    cursor: pointer;
    line-height: 1.3;
    padding: .4em 1.4em .3em .8em;
    width: 300px;
    max-width: 100%;
    box-sizing: border-box;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .03);
    border-radius: .3em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
}

.btnyear{
    background-color: #ea0f0f;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    border: none;
    height: 32px;
    width: 100px;
}

.canvas_container {
    width: 950px;
    height: 700px;
    overflow: auto;
}

.canvasPdf {
    border: 1px solid black;
    direction: ltr;
}

.canvas_container::-webkit-scrollbar {
    -webkit-appearance: none;
}

.canvas_container::-webkit-scrollbar:vertical {
    width: 10px;
}

.canvas_container::-webkit-scrollbar-button:increment,
.canvas_container::-webkit-scrollbar-button {
    display: none;
}

.canvas_container::-webkit-scrollbar:horizontal {
    height: 10px;
}

.canvas_container::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* formatos */

.tipoFormatoSelect{
    color: #ff0000;
    font-weight: bold;
}

.selectformat {
    display: none;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    color: #444;
    cursor: pointer;
    line-height: 1.3;
    padding: .4em 1.4em .3em .8em;
    width: 500px;
    max-width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .03);
    border-radius: .3em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.selectformat::-ms-expand {
    display: none;
}

.selectformat:hover {
    border-color: #888;
}

.selectformat:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}

.selectformat option {
    font-weight: normal;
}

.canvas_containerFormat {
    margin-top: 5px;
    width: 950px;
    height: 500px;
    overflow: auto;
}

/* Vacaciones */

.sectionHolidays {
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    grid-gap: 40px;
    padding: 60px;
}

.sectionHolidays2 {
    background-color: #fff;
    box-shadow: 20px 20px 40px #00000067;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 10px 40px;
    animation: moveImages 2.5s ease-in-out;
}

.sectionHolidays label {
    color: #030303;
    display: block;
    font-size: 0.950rem;
    padding: 0px 0px 10px 0px;
    text-transform: capitalize;
}

.sectionHolidays input {
    background-color: #f1463d;
    border: none;
    border-radius: 6px;
    color: #ffffff;
    display: block;
    font-size: 1.1em;
    line-height: 1.5;
    height: 40px;
    margin-top: 10px;
    padding-left: 10px;
    width: 100%;
    text-align: center;
}

.textInfoHolidays {
    color: #6a6a6a;
    position: relative;
    left: 100px;
    font-size: 2rem;
    width: 400px;
}

.holidays {
    width: 400px;
}


@keyframes moveImages {
    0% {
        transform: rotate(0deg) translate(-150px) rotate(0deg);
    }

    50% {
        transform: rotate(360deg) translate(0px) rotate(-360deg);
    }

    100% {
        transform: translate(0px)
    }
}

/* ---------------------------------AREA ADMINISTRATIVA ESTILOS---------------------------------------------- */

.backgroundModal {
    position: absolute;
    top: 0px;
    border: none;
    height: 100vh;
    width: 100%;
    background-color: #282828a5;
    height: 100%;
    left: 0;
    max-height: 100vh;
    position: fixed;
    text-decoration: none;
    top: 0;
    transition: all .1s;
    width: 100%;
    -webkit-transition: all .1s;
    z-index: 1px;
}

.backgraundadmin{
    height: 100vh;
    width: 100%;
    z-index: -4;
}

.btncloseAdmin{
    box-shadow: 0px 6px 1px #ff0000f4;
    border-radius: 100px;
    cursor: pointer;
    margin: 40px 0px 0px 160px; 
    padding: 4px;
    position: absolute;
    right: 100px;
    height: 60px;
    width: 60px;
}

.btnsadmin{
    position: relative;
    top: 230px;
    left: 180px;
    animation: showbtns 1.2s ease-in-out;
}

.btns{
    background-color: #e00f0f;
    border: none;
    border-radius: 4px;
    border-bottom: solid 4px #e00f0f;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 20px 40px;
    padding: 15px 25px;
    text-transform: capitalize;
    transition: background-color 0.3s ease-in-out;
}

.btns:hover {
    background-color: transparent;
    border-radius: 0px;
    border-bottom: solid 4px #e00f0f;
    color: #ffffff;
}

.textinfoadmin{
    color: #ffffff;
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 60px;
    position: relative;
    top: 200px;
    left: 180px;
    text-align: left;
    width: 700px;
}

.textinfoadmin span{
    color: #ff0000;
}

.formsearchuser{
    display: none;
    animation: showinputsearh 1.6s ease;
}

.searchuser{
    background-color: transparent;
    border: none;
    border-bottom: solid 4px #ffffff;
    color: #ffffff;
    margin-top: 20px;
    font-size: 1.4rem;
    height: 40px;
    outline: none;
    width: 450px;
}

.searchuser::placeholder{
    color: #ffffff;
}

.btnsearchuser{
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
    width: 100px;
}

@keyframes showbtns {
    
    0%{
        opacity: 0;
        transform: translateY(-160px);
    }

    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes showinputsearh {
    
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}


/* Seccion editar usuarios */

#modalEditUser{
    display: none;
}

.closeModalpassAdmin{
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    position: relative;
    bottom: 40px;
    left: 450px;
}

.containerUser{
    background-color: #ffffff;
    box-shadow: 0px 0px 20px #2a2a2a;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 50% 40%;
    position: absolute;
    padding: 20px 40px;
    top: 60px;
    left: 300px;
    height: 500px;
    width: 60%;
}

.profile , .sectionInfo{
    display: flex;
    flex-direction: row;
    font-size: 0.800rem;
    justify-content: space-evenly;
    text-transform: uppercase;
    margin: 20px 0px;
}

.profile img {
    border-radius: 100%;
    border: solid 4px #D83C46;
    width: 80px;
}

.nameUser {
    font-size: 0.900rem;
}

.position{
    color: #ea0f0f;
    font-size: 0.800rem;
    font-weight: bold;
}

.sectionInfo p , .email{
    border-bottom: solid 2px #000000;
    color: #4f4f4f;
    margin-top: 60px;
    padding: 10px;
    width: 140px;
}

.email{
    font-size: 0.800rem;
    margin: 40px;
    width: 350px;
}

.sectionInfo span , .email span{
    color: #ea0f0f;
    font-weight: bold;
}

.btnRetenciones{
    background-color: #16b413;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin: 40px 100px;
    padding: 12px;
    width: 250px;
    transition: 0.2s ease-in-out;
}

.btnRetenciones:hover{
   background-color: #ff0000;
}

/* estilos para contraseña area admin */

.titlePassword{
    font-size: 0.900rem;
    margin-left: 30px;
    text-transform: uppercase;
    text-align: center;
}

.changePasswordAdmin{
    margin: 0px;
    width: 400px;
    z-index: 1;
}

.sectioninputsadmin label {
    color: #e00f0f;
    font-size: 0.900rem;
    font-weight: bold;
    padding: 40px;
    width: 20px;
}

.passwordAdmin {
    background-color: #bebdbd;
    border-radius: 8px;
    border: none;
    margin: 20px 30px;
    padding: 10px;
    width: 400px;
}

.infoFormPassword {
    font-size: 0.800rem;
    margin: 20px 40px;
}

.infoFomrPassword {
    font-size: 0.800rem;
    margin: 0px 40px;
}

.changepass {
    text-align: center;
}

.btnpasswordAdmin{
    padding: 20px;
    width: 450px;
    text-align: center;
}

.btnpasswordAdmin button{
    background-color: #ea0f0f;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    width: 300px;
}

/* Seccion administrativa cambio de retencion usuarios */

.containerAdminRetencion{
    margin: 20px;
    padding: 20px;
}

.sectionsReten{
    display: grid;
    grid-template-columns: 55% 50%;
}

.canvas_containerReten {
    margin: 20px 20px;
    height: 580px;
    overflow: auto;
    width: 850px;
}

.canvas_containerReten::-webkit-scrollbar {
    -webkit-appearance: none;
}

.canvas_containerReten::-webkit-scrollbar:vertical {
    width: 10px;
}

.canvas_containerReten::-webkit-scrollbar-button:increment,
.canvas_containerReten::-webkit-scrollbar-button {
    display: none;
}

.canvas_containerReten::-webkit-scrollbar:horizontal {
    height: 10px;
}

.canvas_containerReten::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.options{
    margin: 40px 180px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 60px;
}

.btnOptions button{
    border-radius: 4px;
    border: none;
    box-shadow: 3px 8px 0px #7d7d7d;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 14px;
    position: relative;
    top: 0px;
    text-transform: capitalize;
    width: 400px;
}

.btnOptions:nth-child(1) button{
    background-color: #0dda1b;
}

.btnOptions:nth-child(2) button{
    background-color: #ff0000;
}

.btnOptions:nth-child(3) button{
    background-color: #616161;
}

.btnOptions:nth-child(1) button:hover{
    background-color: #000000;
}

.btnOptions:nth-child(2) button:hover{
    background-color: #000000;
}

.btnOptions:nth-child(3) button:hover{
    background-color: #000000;
}

.btnOptions:nth-child(1) button:active{
    box-shadow: 0px 0px 0px #7d7d77;
    top: 2px;
    left: 2px;
}

.btnOptions:nth-child(2) button:active{
    box-shadow: 0px 0px 0px #7d7d7d;
    top: 2px;
    left: 2px;
}

.btnOptions:nth-child(3) button:active{
    box-shadow: 0px 0px 0px #7d7d7d;
    top: 2px;
    left: 2px;
}

/* Alerta de confirmar eliminacion */

#alertDelete{
    background-color: #f61818;
    box-shadow: 0px 0px 20px #000000;
    display: none;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 40px;
    position: absolute;
    text-align: center;
    width: 600px;
    top:30%;
    left: 30%;
}

.btnsConfirm{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 40px;
}

.btnsConfirm button{
    background-color: #ffffff;
    border: none;
    color: #fb0000;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    width: 150px;
}

#alertRetenc{
    background-color: #1cdc29;
    border-radius: 10px 0px 0px 0px;
    border-bottom: solid 4px #000000;
    display: none;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0px;
    position: absolute;
    text-align: center;
    top:20px;
    right: 40px;
    width: 300px;
}

@keyframes showAlertReten {
    
    0%{
        opacity: 0;
        transform: translateX(300px);
    }

    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

/*File Inputs*/

.container-input {
    text-align: center;
    background: #282828;
    border-top: 8px solid #fa3131;
    color: #ffffff;
    padding: 20px 90px;
    border-radius: 6px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
}

.iborrainputfile {
	font-size:16px; 
	font-weight:normal;
	font-family: 'Lato';
}

   
.inputfile-5 + label {
    color: #ffffff;
}

.inputfile-5 + label figure {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e81818;
    display: block;
    padding: 20px;
    margin: 0 auto 10px;
}

.inputfile-5:focus + label figure,
.inputfile-5.has-focus + label figure,
.inputfile-5 + label:hover figure {
    background-color: #26e218;
}

.inputfile-5 + label svg {
    width: 100%;
    height: 100%;
    fill: #fff;
}

.btnUpDoc{
    background-color: #ffffff;
    color: #fa3131;
    cursor: pointer;
    font-weight: bold;
    margin-top: 60px;
    padding: 10px 30px;
    height: 46px;
}
  
.btnRefresh{
    background-color: #129eef;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    display: none;
    padding: 10px;
}


/* Formatos seccion administrativa */

.headerFormats{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.headerFormats h2{
    color: #000000;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 40px;
    text-transform: capitalize;
    text-decoration: underline #eb0b0b;
}

.btnbackHome{
    background-color: #1a9ce7;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin: 60px;
    padding: 16px 40px;
}

.btnAddNewFormat{
    background-color: #f61818;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin: 60px;
    padding: 16px 40px;
}

#formFormat{
    position: fixed;
    top:200px;
    left: 500px;
    z-index: 1;
}

.btnCloseModalFormDoc{
    background-color: #f61818;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    padding: 15px 20px;
}

/* Targetas */
.containerCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    margin: 0px 30px;
}

.cardFormat{
    background-image: url(../assets/image/documento.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 10px;
    margin: 40px;
    height: 300px;
    width: 250px;
}

.gradientCard{
    background-color: #21212197;
    border-radius: 6px;
    box-shadow: 6px 6px 10px #000000;
    position: relative;
    top: -20px;
    height: 300px;
    width: 250px;
}

.gradientCard p{
    color: #ffffff;
    font-size: 0.900rem;
    font-weight: bold;
    padding: 40px;
    text-align: center;
    text-transform: uppercase;

}

.btnEditFormat{
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    left: 180px;
    padding: 6px;
    position: relative;
    top: -100px;
}

.btnEditFormat:hover{
    background-color: rgb(0, 0, 0);
}

/* Eliminar formato modal */
.formatoModal{
    background-color: #f61818;
    box-shadow: 0px 0px 20px #000000;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 40px;
    position: absolute;
    text-align: center;
    width: 600px;
    top:30%;
    left: 15%;
}

.btnsConfirmFormat{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 40px;
}

.btnsConfirmFormat button{
    background-color: #ffffff;
    border: 3px solid #ffffff;

    color: #fb0000;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    width: 150px;
}

.btnsConfirmFormat button:hover{
    background-color: transparent;
    border: 3px solid #ffffff;
    color: #ffffff;
}

.confirmaDelete{
    display: none;
    margin-top: 50px;
}

.confirmaDelete button{
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    padding: 10px 30px;
}

/* estilos para selector de subir documento */
.selectOptionFormat{
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    color: #444;
    cursor: pointer;
    line-height: 1.3;
    padding: .4em 1.4em .3em .8em;
    width: 400px;
    max-width: 100%;
    margin-top: 40px;
    box-sizing: border-box;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .03);
    border-radius: .3em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
}

/* Estilos responsive */

/* Login */

@media screen and (min-width: 300px) and (max-width: 500px){
    
.containerLogin {
    height: 640px;
    top: 35%;
    left: 3%;
    width: 350px;
}

.cardUser {
    margin: 0px 10px;
    padding: 20px;
}

.cardUser img {
    width: 100px;
}

.sectionInputs {
    padding: 40px 20px;
}

.inputsLogin {
    margin-top: 20px;
    width: 300px;
}


.btnLogin {
    left: 100px;
    padding: 14px 40px;
}

/* Menu */

.user {
    font-size: 0.800rem;
    left: 25px;
}

.logo {
    width: 160px;
    margin: 20px 50px;
}

.btnMenu{
    background-color: #000000;
    border-radius: 100%;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: block;
    padding: 10px;
    position: absolute;
    top: 20px;
    left: 300px;
    z-index: 1;

}

.btnCloseMenu{
    background-color: #000000;
    border-radius: 100%;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: none;
    padding: 10px;
    position: absolute;
    top: 20px;
    left: 300px;
    z-index: 1;
}

nav {
    background-color: #ea0f0f;
    height: 100vh;
    width: 260px;
    position: absolute;
    left: -400px;
    transition: all 0.6s ease-in-out;
    z-index: 1;
}

li {
    font-size: 0.760rem;
}


.children li a {
    font-size: 0.700rem;

}

.btnCloseSesion {
    font-size: 0.800rem;
    margin: 20px;
    width: 200px;
}


/* cambiar contraseña modal */

.closeModalPass {
    left: 300px;
}

.containerchangepassword {
    left: 6%;
    top: 12%;
    width: 350px;
    z-index: 1;
}


.inputpass {
    width: 250px;
}

/* secciones de informacion */

.sectionInformacion {
    position: absolute;
    left: 0px;
    top: 20px;
}

.sectionHome {
    position: absolute;
    left: 10px;
    top: 60px;
    margin: 0px;
}

/* Pagina de inicio */

.titleSystem {
    margin: 20px;
    font-size: 1.2rem;
    width: 300px;
}

.infoHome {
    font-size: 1rem;
    padding: 40px;
    margin: 20px;
    width: 250px;
    height: 350px;
}

.home {
    margin: 20px 0px;
}

.home img {
    position: absolute;
    top: 450px;
    left: 60px;
    width: 220px;
}

/* Certificacion Laboral */

.message{
    font-size: 0.900rem;
    height: 260px;
    padding: 0px 20px;
    position: absolute;
    left: 20px;
    top: 150px;
    width: 300px;
    animation: tiendaNew 3s ease infinite;
}

.btnclosemodal{
    font-size: 1rem;
    width: 200px;
}

.btnGetPdf {
    cursor: pointer;
    position: fixed;
    right: 20px;
    top: 120px;
    width: 60px;
    z-index: 1;
}

.marcaAgua {
    position: absolute;
    left: 0px;
    top: 100px;
    width: 400px;
}

.containerDoc {
    box-shadow: 0px 0px 10px #000000;
    margin: 10px;
    padding: 80px 15px 0px 15px;
    width: 85%;
    height: 680px;
}

.imageHeader {
    display: flex;
    justify-content: space-around;
}

.imageHeader img {
    width: 50px;
}

.imageHeader .imgCalidad {
    margin-top: 10px;
    width: 20px;
    height: 20px;
}

.textHeader {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.textHeader p {
    font-size: 0.350rem;
}

.titleoDoc {
    font-size: 0.650rem;
    margin: 40px 0px;
    text-align: center;
}

.paragraph,
.firm {
    font-size: 0.500rem;
    margin: 14px 20px;
    text-align: justify;
}

.paragraphgreeting {
    font-size: 0.500rem;
    margin: 60px 0px 0px 20px;
    text-align: justify;
}

.firm img {
    width: 80px;
}


/* Reporte Nomina */

.containerDoc2 {
    box-shadow: 0px 0px 10px #000000;
    margin: 150px 10px 0px 10px;
    padding: 10px 10px 0px 10px;
    width: 90%;
    height: 600px;
}

.formSelectFormatNomina{
    position: absolute;
    top: 20px;
    left: 20px;
}

.headerPayroll {
    gap: 60px;
}

.headerPayroll img {
    width: 120px;
}

.headerPayroll p {
    font-size: 0.450rem;
}

.headerPayroll p:nth-child(3) {
    padding: 20px 10px 10px 10px;
}

.dataInfo {
    font-size: 0.550rem;
    padding: 2px;
}

.sectionInfoEmployed {
    padding: 0px 10px;
    font-size: 0.400rem;
}

.sectionInfoEmployed span {
    font-size: 0.400rem;
}

.tablePayroll {
    border-collapse: collapse;
    border: 2px solid #000000;
    border-radius: 10px;
    font-size: 0.400rem;
    margin-top: 4px;
    width: 100%;
}

.headerTable th {
    font-size: 0.400rem;
    padding: 5px;
}

.bodyTable td {
    font-size: 0.450rem;
    padding: 5px;
}

.textMoney {
    font-weight: bold;
    border: solid 1px #000000;
    border-radius: 10px;
    height: 50px;
    padding: 0px 20px 0px 10px;
    position: relative;
    top: 24px;
}

.textMoney p {
    font-size: 0.400rem;
    font-weight: bold;
}

.paragraphPayroll {
    font-size: 0.400rem;
    font-weight: bold;
}

.tableTotal {
    font-size: 0.400rem;
    margin-top: 4px;
    width: 35%;
}

.tableTotal th {

    font-size: 0.500rem;
    padding: 5px;
}

.tableTotal td {
    font-size: 0.500rem;
    padding: 5px;
}

.sectionFirm {
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 15px;
    position: relative;
    top: 150px;
}

.sectionFirm p {
    font-size: 0.600rem;
    margin-top: 20px;
    padding: 20px 10px 0px 10px;
}


/* Certificado retencion */

#alertDocument p {
    background-color: #ea0f0f;
    box-shadow: 16px 16px 0px #323131e3;
    color: #ffffff;
    font-size: 1rem;
    padding: 40px;
    left: 40px;
    position: absolute;
    text-align: center;
    top: 200px;
    width: 250px;
}

.sectionyear{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 60px 40px;
}

.selectYear{
    width: 200px;
}

.btnyear{
    background-color: #ea0f0f;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    border: none;
    height: 32px;
    width: 100px;
}

.canvas_container {
    width: 400px;
    height: 600px;
    overflow: auto;
}

/* formatos */

.tipoFormatoSelect{
    color: #ff0000;
    font-weight: bold;
}

.selectformat {
    width: 200px;
    margin-top: 20px;
}

.canvas_containerFormat {
    margin-top: 5px;
    width: 400px;
    height: 500px;
    overflow: auto;
}

/* Vacaciones */

.sectionHolidays {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-gap: 40px;
    padding: 20px;
}

.sectionHolidays2 {
    grid-template-columns: 40% 40%;
    margin: 10px 0px;
}

.sectionHolidays label {
    font-size: 0.800rem;
}

.textInfoHolidays {
    color: #6a6a6a;
    position: relative;
    left: 20px;
    font-size: 0.800rem;
    width: 150px;
}

.holidays {
    width: 150px;
}

/* Administracion Responsive */

.backgraundadmin{
    height: 100vh;
    width: 100%;
    z-index: -4;
}

.btncloseAdmin{
    right: 20px;
    height: 60px;
    width: 60px;
}

.btnsadmin{
    position: relative;
    top: 230px;
    left: 10px;
}

.btns{
    font-size: 1rem;
    margin: 20px 20px;
    padding: 15px 10px;
}

.textinfoadmin{
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 40px;
    position: relative;
    top: 200px;
    left: 10px;
    text-align: left;
    width: 360px;
}
.searchuser{
    margin-top: 20px;
    font-size: 0.800rem;
    width: 260px;
}

.btnsearchuser{
    padding: 5px;
    width: 80px;
}


/* Seccion editar usuarios */

#modalEditUser{
    display: block;
}

.closeModalpassAdmin{
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    position: relative;
    bottom: 350px;
    left: 310px;
}

.containerUser{
    grid-template-columns: 80%;
    position: absolute;
    padding: 10px 0px;
    top: 60px;
    left: 20px;
    height: 800px;
    width: 90%;
}

.profile , .sectionInfo{
    display: flex;
    flex-direction: row;
    font-size: 0.600rem;
    justify-content: space-evenly;
    text-transform: uppercase;
    margin: 10px 0px;
}

.profile img {
    margin-left: 20px;    
    width: 60px;
}

.nameUser {
    font-size: 0.900rem;
    margin-left: 40px;
}

.position{
    margin-left: 40px;
}

.sectionInfo p , .email{
    border-bottom: solid 2px #000000;
    color: #4f4f4f;
    margin-top: 0px;
    padding: 10px;
    width: 100px;
}

.email{
    font-size: 0.800rem;
    margin: 20px;
    width: 300px;
}

.btnRetenciones{
    margin: 0px 60px;
    width: 250px;
}

/* estilos para contraseña area admin */

.titlePassword{
    font-size: 0.900rem;
    margin-left: 40px;
}

.changePasswordAdmin{
    margin: 0px;
    width: 400px;
    z-index: 1;
}

.passwordAdmin {
    background-color: #bebdbd;
    border-radius: 8px;
    border: none;
    margin: 20px 30px;
    padding: 10px;
    width: 300px;
}

.infoFormPassword {
    font-size: 0.700rem;
    margin: 20px 40px;
}

.infoFomrPassword {
    font-size: 0.700rem;
    margin: 0px 40px;
}

.changepass {
    text-align: center;
}

.btnpasswordAdmin{
    padding: 20px;
    width: 250px;
    text-align: center;
}

.btnpasswordAdmin button{
    background-color: #ea0f0f;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    width: 100px;
}

/* Seccion administrativa cambio de retencion usuarios */

.containerAdminRetencion{
    margin: 20px;
    padding: 20px;
}

.sectionsReten{
    display: grid;
    grid-template-columns: 55% 50%;
}

.canvas_containerReten {
    margin: 20px 20px;
    height: 580px;
    overflow: auto;
    width: 850px;
}

.canvas_containerReten::-webkit-scrollbar {
    -webkit-appearance: none;
}

.canvas_containerReten::-webkit-scrollbar:vertical {
    width: 10px;
}

.canvas_containerReten::-webkit-scrollbar-button:increment,
.canvas_containerReten::-webkit-scrollbar-button {
    display: none;
}

.canvas_containerReten::-webkit-scrollbar:horizontal {
    height: 10px;
}

.canvas_containerReten::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.options{
    margin: 40px 180px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 60px;
}

.btnOptions button{
    border-radius: 4px;
    border: none;
    box-shadow: 3px 8px 0px #7d7d7d;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 14px;
    position: relative;
    top: 0px;
    text-transform: capitalize;
    width: 400px;
}

.btnOptions:nth-child(1) button{
    background-color: #0dda1b;
}

.btnOptions:nth-child(2) button{
    background-color: #ff0000;
}

.btnOptions:nth-child(3) button{
    background-color: #616161;
}

.btnOptions:nth-child(1) button:hover{
    background-color: #000000;
}

.btnOptions:nth-child(2) button:hover{
    background-color: #000000;
}

.btnOptions:nth-child(3) button:hover{
    background-color: #000000;
}

.btnOptions:nth-child(1) button:active{
    box-shadow: 0px 0px 0px #7d7d77;
    top: 2px;
    left: 2px;
}

.btnOptions:nth-child(2) button:active{
    box-shadow: 0px 0px 0px #7d7d7d;
    top: 2px;
    left: 2px;
}

.btnOptions:nth-child(3) button:active{
    box-shadow: 0px 0px 0px #7d7d7d;
    top: 2px;
    left: 2px;
}

/* Alerta de confirmar eliminacion */

#alertDelete{
    background-color: #f61818;
    box-shadow: 0px 0px 20px #000000;
    display: none;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 40px;
    position: absolute;
    text-align: center;
    width: 600px;
    top:30%;
    left: 30%;
}

.btnsConfirm{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 40px;
}

.btnsConfirm button{
    background-color: #ffffff;
    border: none;
    color: #fb0000;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    width: 150px;
}

#alertRetenc{
    background-color: #1cdc29;
    border-radius: 10px 0px 0px 0px;
    border-bottom: solid 4px #000000;
    display: none;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0px;
    position: absolute;
    text-align: center;
    top:20px;
    right: 40px;
    width: 300px;
}

@keyframes showAlertReten {
    
    0%{
        opacity: 0;
        transform: translateX(300px);
    }

    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

/*File Inputs*/

.container-input {
    text-align: center;
    background: #282828;
    border-top: 8px solid #fa3131;
    color: #ffffff;
    padding: 20px 90px;
    border-radius: 6px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
}

.iborrainputfile {
	font-size:16px; 
	font-weight:normal;
	font-family: 'Lato';
}

   
.inputfile-5 + label {
    color: #ffffff;
}

.inputfile-5 + label figure {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e81818;
    display: block;
    padding: 20px;
    margin: 0 auto 10px;
}

.inputfile-5:focus + label figure,
.inputfile-5.has-focus + label figure,
.inputfile-5 + label:hover figure {
    background-color: #26e218;
}

.inputfile-5 + label svg {
    width: 100%;
    height: 100%;
    fill: #fff;
}

.btnUpDoc{
    background-color: #ffffff;
    color: #fa3131;
    cursor: pointer;
    font-weight: bold;
    margin-top: 60px;
    padding: 10px 30px;
    height: 46px;
}
  
.btnRefresh{
    background-color: #129eef;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    display: none;
    padding: 10px;
}


/* Formatos seccion administrativa */

.headerFormats{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.headerFormats h2{
    margin-top: 40px;
    text-align: center;
}

.btnbackHome{
    margin: 20px;
    padding: 16px 10px;
}

.btnAddNewFormat{
    margin: 20px;
    padding: 16px 10px;
}

#formFormat{
    position: fixed;
    top:200px;
    left: 500px;
    z-index: 1;
}

.btnCloseModalFormDoc{
    background-color: #f61818;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    padding: 15px 20px;
}

/* Targetas */
.containerCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    margin: 0px 30px;
}

.cardFormat{
    background-image: url(../assets/image/documento.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 10px;
    margin: 40px;
    height: 300px;
    width: 250px;
}

.gradientCard{
    background-color: #21212197;
    border-radius: 6px;
    box-shadow: 6px 6px 10px #000000;
    position: relative;
    top: -20px;
    height: 300px;
    width: 250px;
}

.gradientCard p{
    color: #ffffff;
    font-size: 0.900rem;
    font-weight: bold;
    padding: 40px;
    text-align: center;
    text-transform: uppercase;

}

.btnEditFormat{
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    left: 180px;
    padding: 6px;
    position: relative;
    top: -100px;
}

.btnEditFormat:hover{
    background-color: rgb(0, 0, 0);
}

/* Eliminar formato modal */
.formatoModal{
    background-color: #f61818;
    box-shadow: 0px 0px 20px #000000;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 40px;
    position: absolute;
    text-align: center;
    width: 600px;
    top:30%;
    left: 15%;
}

.btnsConfirmFormat{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 40px;
}

.btnsConfirmFormat button{
    background-color: #ffffff;
    border: 3px solid #ffffff;

    color: #fb0000;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    width: 150px;
}

.btnsConfirmFormat button:hover{
    background-color: transparent;
    border: 3px solid #ffffff;
    color: #ffffff;
}

.confirmaDelete{
    display: none;
    margin-top: 50px;
}

.confirmaDelete button{
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    padding: 10px 30px;
}

/* estilos para selector de subir documento */
.selectOptionFormat{
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    color: #444;
    cursor: pointer;
    line-height: 1.3;
    padding: .4em 1.4em .3em .8em;
    width: 400px;
    max-width: 100%;
    margin-top: 40px;
    box-sizing: border-box;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .03);
    border-radius: .3em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
}

}